<aside>
    <section class='main-aside-avatar'>
        <img src='/img/avatar.jpg' alt=''>
    </section>
    <ul>
        <li><a href="/edit">Write Blogs</a></li>
        <li><a href="/about">About Blogs</a></li>
        <li><a href="/friends">Friend Link</a></li>
        <li><a href="/">Logout Blog</a></li>
        <li><a href="/index">Home Page</a></li>
    </ul>
</aside>