<aside>
    <section class='main-aside-avatar'>
        <img src='img/avatar.jpg' alt=''>
    </section>
    <ul>
        <li><a href="">Write Blogs</a></li>
        <li><a href="">About Blogs</a></li>
        <li><a href="">Friend Link</a></li>
        <li><a href="">Logout Blog</a></li>
    </ul>
</aside>