<head>
  <meta charset="utf8">
  <title>Node based personal blog system</title>
  <meta name='description' content='Node based personal blog system'>
  <link rel='stylesheet' href="/css/main.css">
  <link rel='stylesheet' href="/css/normalize.css">
</head>