 <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 实例</title>
    <style>
        #app[v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- static property, reder only oncemq -->
        <span v-once> {{message}}</span>
        <ul>
            <li v-for="(book,index) in books">{{index}}-{{book.name}}</li>
            <li v-for="(value,key,index) in user">{{index}}-{{key}}:{{value}}</li>
            <span v-for="n in 10">{{n}} </span>
            <br>
            <li v-for="book in sortedBooks">{{book.name}}</li>
        </ul>
        <div class="static" :class="{'active':isActive,'error':isError}">
            <input type="text" v-model="name" placeholder="Your Name">
            <h1>Hello, {{name}}</h1>
        </div>
        <div :class="classes">
            {{date|formatDate(true,true)}}
            {{isOK?'True':'False'}}
            {{text.split(',').reverse().join(',')}}
        </div>
        <span :class="multipleClasses" v-html="link"></span>
        <span v-pre>{{Not compiled}}</span>
        <p v-if="show" :style="styles">Display this text</p>
        <a v-bind:href="url">Link</a>
        <img v-bind:src="imgUrl">
        <button v-on:click="handleToggle">Click To Toggle</button>
        <button v-on:click="show=false">Click To Hide</button>
        <!-- Syntactic Sugar for v-bind-->
        <button :href="url">Github</button>
        <!-- Syntactic Sugar for v-on -->
        <button @click="handleToggle">Click To Toggle</button>
        <p>{{reversedText}}</p>
        <p>Name:{{fullName}}</p>
        <p>{{now}}</p>
        <!-- conditional render instructions with v-if-->
        <p v-if="status===1">When status == 1, display this line</p>
        <p v-else-if="status===2">When status == 2, display this line</p>
        <p v-else>Other values, display this line</p>
        <div>
            <template v-if="type==='name'">
                <label>Username:</label>
                <input placeholder="Please input username">
            </template>
            <template v-else>
                <label>Email:</label>
                <input placeholder="Please input email address">
            </template>
            <button @click="handleToggleClick">Change input type</button>
        </div>
        <!-- conditional render instructions with v-show -->
        <p v-show="status=== 1">When status eaquals 1, display this line.</p>
        <!-- 阻止单击事件冒泡 -->
        <a @click.stop="handle"></a>
        <!-- 提交事件不用重载页面 -->
        <form @submit.prevent="handle"></form>
        <!-- 修饰符可以串联 -->
        <a @submit.stop.prevent="handle"></a>
        <!-- 只有修饰符 -->
        <form @submit.prevent></form>
        <!-- 添加事件侦听器时使用事件捕获方式 -->
        <div @click.capture="handle"></div>
        <!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
        <div @click.self="handle">...</div>
        <!-- 只触发一次，组件同样适用 -->
        <div @click.once="handle">...</div>
        <!-- 只有在keyCode是13时调用vm.submit -->
        <div @keyup.13="submit">3er</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        //supply 0 to month,date,hours below 10
        var padDate=function(value){
            return value<10?'0'+value:value;
        }

        var app=new Vue({
            el:'#app',
            // el:document.getElementById('app'),
            data:{
                message:'Loading Page ...',
                url:'https://www.github.com',
                imgUrl:'../img/Trump.jpg',
                show:true,
                books:[
                    {name:'Vue'},
                    {name:'JavaScript'},
                    {name:'Python'}
                ],
                user:{
                    name:'Aresn',
                    gender:'male',
                    age:26
                },
                name:'',
                date:new Date(),
                link:'<a href="https://www.baidu.com">This is a link. </a>',
                isOK:false,
                isActive:true,
                isError:false,
                error:null,
                text:'123,456',
                firstName:'Jack',
                lastName:'Green',
                size:'large',
                disabled:true,
                styles:{
                    color:'red',
                    fontSize:14+'px'
                },
                status:1,
                type:name
            },
            computed:{
                reversedText:function(){
                    return this.text.split(',').reverse().join(':');
                },
                fullName:{
                    get:function(){
                        return this.firstName+' '+this.lastName;
                    },
                    set:function(newValue){
                        var name=newValue.split(' ');
                        this.firstName=name[0];
                        this.lastName=name[name.length-1];
                    }
                },
                now:function(){
                    return Date.now();
                },
                classes:function(){
                    return {
                        active:this.isActive && !this.error,
                        textFail:this.error && this.error.type=== 'fail'
                    };
                },
                multipleClasses:function(){
                    return [
                        'btn',
                        {
                            ['btn-'+this.size]:this.size!='',
                            ['btn-disabled']:this.disabled
                        }
                    ]
                },
                sortedBooks:function(){
                    return this.books.sort(function(a,b){
                        return b.name.length-a.name.length;
                    });
                }
            },
            filters:{
                formatDate:function(value,displayYear,displayTime){
                    var date=new Date(value);
                    var year=date.getFullYear();
                    var month=padDate(date.getMonth()+1);
                    var day=padDate(date.getDate());
                    var hours=padDate(date.getHours());
                    var minutes=padDate(date.getMinutes());
                    var seconds=padDate(date.getSeconds());

                    var re='';
                    if(displayYear){
                        re+= year+'-'+month+'-'+day;
                    }
                    if(displayTime){
                        re+=' '+hours+':'+minutes+':'+seconds;
                    }
                    return re;
                }
            },
            methods:{
                handleToggle:function(){
                    if(this.show){
                        this.close();
                    }else{
                        this.open();
                    }
                },
                close:function(){
                    this.show=false;
                },
                open:function(){
                    this.show=true;
                },
                init:function(text){
                    console.log(text);
                },
                handleToggleClick:function(){
                    this.type= this.type==='name'?'email':'name';
                }
            },
            created:function(){
                this.init('Call on creating');
            },
            mounted:function(){
                console.log("App mounted!");
                var _this=this;
                this.timer=setInterval(function(){
                    _this.date=new Date();
                },2000)
            },
            beforeDestroy:function(){
                if(this.timer){
                    clearInterval(this.timer);
                }
                console.log("App is about to be destroyed!")
            }
        })
        app.init('Call from outside');
        // app.books=app.books.filter(function (item){
        //     return item.name.match(/JavaScript/);
        // })
        Vue.set(app.books,3,{
            name:'CSS secrets',
            author:'Lea Verou'
        })
        app.books.splice(3,1,{
            name:'CSS Secrets',
            author:'Lea Verow'
        })
    </script>
</body>
</html>