<!DOCTYPE html>

<html>
<%- include('./public/head.ejs') %>

<body>
    <%- include('./public/header.ejs') %>
    <section class='main floatfix'>
        <%- include('./public/aside.ejs') -%>
        <section class="main-aiticles">
            <h2>About Blog</h2>
            <p>This blod mainly share node.js and front-end tech, hope we grow together!</p>
        </section>
    </section>
</body>
<%- include('./public/footer.ejs') %>
</html>