<!DOCTYPE html>
<html lang="zh-ch" class="login">

<head>
  <meta charset="UTF-8">
  <title>Node的个人博客</title>
  <meta http-equiv="X-UA-Compatible" content="IE-Edge,chrome=1">
  <meta name="description" content="Node的个人博客,分享Node.js技术">
  <meta name="keywords" content="Node">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <section>
    <form action="/logon" method="POST">
      <div class="form-group">
        <input type="text" name="name" placeholder="登录名">
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="登录密码">
      </div>
      <div class="form-group">
        <input type="submit" value="注册">
      </div>
    </form>
  </section>
  <footer>
    <p>Copyright: greenday12138</p>
    <p>Powered by express</p>
  </footer>
</body>

</html>